
<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home">
            <ion-icon name="restaurant-outline"></ion-icon>
            <ion-label>Recettes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="frigo">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            <ion-label>Ingrédients</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favoris">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Favoris</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profil">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
        
    </ion-tab-bar>
</ion-tabs>