<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <ion-list>
      <ion-item ion-item *ngFor="let f of Favoris">
        <ion-avatar slot="start">
          <img [src]="f.picture">
        </ion-avatar>
        <ion-label>
        <h2>{{f.title}}</h2>
        <p>{{f.category}}</p>
        <p>
          <span *ngIf="f.averageStar>=1">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="f.averageStar>=2">
            <ion-icon class="iconYellow"name="star"></ion-icon>          
          </span>

          <span *ngIf="f.averageStar>=3">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="f.averageStar>=4">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="f.averageStar>=5">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>
        </p>
        <ion-button color="danger" (click)="supFavoris(f.id)">
          Retirer
        </ion-button>
        <br>
        <ion-button color="primary" (click)="showDetails(f)">
          Voir les détails
        </ion-button>
      </ion-label>
      </ion-item>
  </ion-list>
</ion-content>

