<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
      <ion-item ion-item *ngFor="let recette of Recettes">
        <ion-avatar slot="start">
          <img [src]="recette.picture[0]">
        </ion-avatar>
        <ion-label>
        <h2>{{recette.title}}</h2>
        <p>{{recette.category}}</p>
        <p>
          <span *ngIf="recette.averageStar>=1">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="recette.averageStar>=2">
            <ion-icon class="iconYellow"name="star"></ion-icon>          
          </span>

          <span *ngIf="recette.averageStar>=3">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="recette.averageStar>=4">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>

          <span *ngIf="recette.averageStar>=5">
            <ion-icon class="iconYellow" name="star"></ion-icon>          
          </span>
        </p>
        <ion-button color="primary" (click)="showDetails(recette)">
          Voir les détails
        </ion-button>
      </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
